/front_on_react/node_modules/
/front_on_react2/node_modules/
/front_on_react2/dist/
*.lock
*.log
*.pem

/backend_api/.vs/
/backend_api/WorkShiftsApi/bin/
/backend_api/WorkShiftsApi/obj/
/backend_api/WorkShiftsApi/Properties/PublishProfiles/
backend_api/WorkShiftsApi/Properties/PublishProfiles/FolderProfile.pubxml.user
backend_api/WorkShiftsApi/Properties/PublishProfiles/FolderProfile.pubxml.user
