/* Выравнивание элементов навигации */
.navbar-nav {
  display: flex;
  align-items: center;
}

/* Стили для NavDropdown, чтобы был на одном уровне */
.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

.nav-link:hover{
  background-color: #4f4f4f !important; /* светлее при наведении */
}

/* Специфичные стили для React Bootstrap NavDropdown */
.navbar-nav .dropdown {
  display: flex;
  align-items: center;
}

/* Уберите отступы у dropdown menu */
.dropdown-menu {
  margin-top: 0;
  /* margin-bottom: 0; 
  background-color: red;
  color: red;*/
  background-color: #212121 !important; 
}

.dropdown-menu > .dropdown-item {
  font-size: 1.2rem;

}

.dropdown-menu > .dropdown-item:hover {
 /*rgba(255, 255, 255, 0.75)*/
  background-color: #4f4f4f !important; /* светлее при наведении */
  color: white !important;
}

.dropdown-menu {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: slideDown 0.2s ease;
}

.dropdown > .nav-link {
  color: white;
}