<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- Логирование в файл с ротацией по дате и размеру -->
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"
				archiveFileName="${basedir}/logs/archives/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				concurrentWrites="true"
				keepFileOpen="false" />


	</targets>

	<rules>
		<!-- Все логи уровня Info и выше в файл -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>